.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #fff;
}

.nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0 14px 0 20px;
    align-items: center;
    justify-content: space-between;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    border-radius: 14px;
    height: 28px;
    background: #F1EADC;
}

.notification span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #000000;
}