.newscard_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.heading {
    font-size: var(--mobile-h4);
    font-family: "New York Medium",
        sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 125%;
    color: #000000;
    margin: 24px 0;
}

.paragraph {
    font-size: var(--paragraph);
    font-family: "New York Small",
        sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: var(--grey-text);
    margin: 0 0 24px 0;
}

.posted_under_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}


.posted_under_container span {
    font-size: var(--caption-text);
    font-family: "Lato",
        sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
    color: #000000;
    margin-right: 10px;
}

.tag_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #000000;
}

.tag {
    font-family: "Lato",
        sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 114%;
    letter-spacing: 0.08em;
    color: #000000;

}
.image {
    /* height: 666px; */
    width: -webkit-fill-available;
}

@media screen and (min-width: 768px) {

    .paragraph {
        margin-right: 60px;
    }

}

@media screen and (max-width: 767px) {
    .image {
        height: 100%;
    }
}