.footer {
    padding: 60px 0 56px 34px;
    background: #FFF6F4;
}

.alternate_heading_6 {
    font-family: "New York Small",
        sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--heading-6-alternate);
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--black);

}

.email_text {
    font-family: "New York Small",
        sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--micro-caption-text);
    line-height: 146%;
    color: #6A6161;
    width: 100%;
    max-width: 292px;

}

.email_subscribition {
    padding: 48px 0 0 32px;
    margin-bottom: 36px;
}

.heading_6 {
    font-family: "Lato",
        sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: var(--heading-6);
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--black);
    margin: 0 0 10px 0;
}

.footer_link {
    font-family: "New York Small",
        sans-serif;
    font-style: normal;
    width: fit-content;
    font-weight: normal;
    display: grid;
    gap: 16px;
    color: #6A6161;
}

.footer_link span {
    display: block;
    width: fit-content;
    font-size: 1.6rem;
}

.footer_link_container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 70px;
    margin: 56px 0 0 0;
    padding-right: 51px;
    width: fit-content;

}

.address_container {
    display: grid;
    gap: 36px;
    margin: 92px 0 0;
    padding-bottom: 75px;
}

.address {
    font-family: "Lato",
        sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 14px;
    letter-spacing: 0.25em;
    color: var(--black);
}

.copyright_text {
    font-family: "New York Small", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--paragraph);
    line-height: 24px;
    margin-top: 33px;
    color: #6A6161;
    width: 100%;
    max-width: 295px;
}


address span {
    display: block;
    font-family: "New York Small",
        sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--paragraph);
    line-height: 24px;
    color: var(--grey-text);
    margin-top: 5px;
}

@media screen and (min-width: 768px) {
    .email_text {
        max-width: 460px;
        margin-bottom: 24px;
    }

    .footer_link_container {
        grid-template-columns: repeat(4, auto);
        width: -webkit-fill-available;
        padding-right: 68px;
    }

    .address {
        width: 100%;
        max-width: 158px;
    }

    address span {
        width: 258px;
    }

    address {
        width: fit-content;
    }

    .address_container {
        grid-template-columns: repeat(2, auto);
        justify-content: start;
        gap: 45px;
        padding-bottom: 67px;
    }

    .copyright_text {
        max-width: -webkit-fill-available;
        margin: 28px 0 66px;
    }
}