@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('http://fonts.cdnfonts.com/css/new-york-extra-large?styles=70617,70615,70611,70629,70641,70653,70627,70639,70651,70623,70635,70647,70621,70633,70645');

:root {
  /* font-size */
  --heading-1: 9.6rem;
  --heading-2: 5.2rem;
  --heading-3: 3.8rem;
  --heading-4: 3rem;
  --heading-5: 2rem;
  --heading-6: 1.3rem;
  --heading-6-alternate: 1.3rem;
  --header-navigation-titles: 1.2rem;
  --navigation: 1.6rem;
  --featured-paragraph: 2.1rem;
  --paragraph: 1.7rem;
  --paragraph-italics: 1.6rem;
  --dropcaps: 8.8rem;
  --article-quote: 3rem;
  --paragraph-text: 1rem;
  --caption-text: 1.4rem;
  --caption-text-bold: 1.4rem;
  --micro-caption-text: 1.4rem;
  --alternate-display-sans-serif: 14.4rem;
  --mobile-h1: 4rem;
  --mobile-h2: 3rem;
  --mobile-h3: 2.6rem;
  --mobile-h4: 2.1rem;
  --mobile-featured-paragraph: 1.9rem;
  --footer-links: 1.6rem;

  /* color */
  --black: #000000;
  --light-grey-soft-lines: #E2E2E2;
  --dark-grey-text: #363030;
  --grey-text: #606060;
  --background-light-cream: #FFF6F4;
  --background-dark-hazel: #A28F8B;

  --background-dark-cream: #DFCAB9;
  --background-selected-cream: #EBE5DA;
}

*,
*::before,
*::after {
  font: 62.5% "Work Sans",
    sans-serif;
  box-sizing: border-box;
}

.line {
  border-bottom: 1px solid var(--light-grey-soft-lines);
}

.App {
  /* overflow: hidden; */
}

.grid {
  display: grid;
  padding: 0 28px 28px;
  gap: 50px;
}

.heading_4 {
  font-family: "New York Medium", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--mobile-h4);
  line-height: 125%;
  text-align: center;
  color: var(--black);
}

.more_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 35px;
  margin: auto;
  font-size: var(--heading-6);
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid var(--black);
  background: none;
}

.flex {
  display: flex;
  flex-direction: row;
}

.section_header {
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 110.1%;
  text-align: center;
  color: var(--black);

  margin: 45px 0 43px;
}

.heading_3 {
  font-family: "New York Medium",
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.6rem;
  line-height: 125%;
  text-align: center;
  color: var(--black);
  max-width: 320px;
  margin: 76px 0 56px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  object-fit: contain;
}

.testimonial_grp {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 32px;
  place-items: center;
  margin-bottom: 60px;
}

.section_instagram {
  padding: 48px 0 44px 30px;
}

.insta_pictures_grp {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  overflow: scroll;
}

.insta_pictures {}

.follow_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: var(--heading-6);
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--black);
  width: 100%;
  max-width: 315px;
  padding: 14px 20px 14px 28px;
  height: 60px;
  margin-top: 38px;
  border: 1px solid var(--black);
}



input {
  font-style: normal;
  font-weight: normal;
  font-size: var(--paragraph);
  line-height: 24px;
  padding: 25px;
  width: 100%;
  max-width: 318px;
  border: 1px solid #000000;
}

input::placeholder {
  color: var(--black);
}

.column_gap {
  margin-top: 56px;
  margin-left: 4px;
}

.line_border {
  position: relative;
  border-bottom: 1px solid var(--light-grey-soft-lines);
  left: -34px;
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .latest {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 56px;
    padding: 35px 26px 40px;
  }

  .image {
    width: -webkit-fill-available;
    height: 420px;
  }

  .hide {
    display: none;
  }

  .heading_4 {
    text-align: left;
    margin: 72px 0 0 0;
  }

  .mission_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .heading_3 {
    margin: 125px 0 83px;
    max-width: 474px;
    font-size: var(--heading-3);
  }

  .testimonial_grp {
    width: 100%;
    max-width: 658px;
    margin-bottom: 90px;
  }

  .heading_4 {
    margin: 0 0 52px 0;
  }

  input {
    max-width: 536px;
  }

  .column_gap {
    margin-top: 40px;
  }

}